# Node / Angular
node_modules/
**/node_modules/
.angular/
**/.angular/
dist/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET / C#
bin/
**/bin/
obj/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
**/.vs/

# Flutter / Dart
.dart_tool/
**/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Pods/
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/GeneratedPluginRegistrant.java

# IDEs & System
.idea/
**/.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
Thumbs.db
